body {
    background-color: whitesmoke;
}

.imagen {
    margin-top: 30%;
    width: 100%;
}

.imagen img {
    display: block;
    margin: auto;
}

.texto {
    width: 80%;
    height: 40px;
    display: block;
    margin: auto;
}

.boton {
    text-align: center;
    line-height: 50px;
    display: block;
    margin: auto;
    width: 80%;
    height: 40px;
    background-color: #0000ff;
    border: solid 1px #0099ff;
    color: white;
}

.contenedor-login {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.contenedor-login div {
    margin-bottom: 10px;
}

.check {
    margin-left: 60%;
    margin-top: 20px;
}