<ion-header>
    <ion-img class="img-volver" (click)="volver() " src="./assets/atras.png "></ion-img>
    Fin Servicio
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="negrita centrado">Servicio Finalizado</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div id="id" class="centrado">{{id}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="negrita centrado">Cliente</div>
            </ion-col>
            <ion-col>
                <div id="id" class="centrado">{{cliente}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="negrita centrado">Fecha</div>
            </ion-col>
            <ion-col>
                <div id="cliente" class="centrado">{{fecha}} {{hora}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="negrita centrado">Tarifa</div>
            </ion-col>
            <ion-col>
                <div class="centrado">{{tarifa}}</div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-textarea #observacion style="border:solid 1px silver">

    </ion-textarea>
    <ion-button class="boton" style="width:100%" (click)="finalizar()">
        GUARDAR Y FINALIZAR
    </ion-button>
</ion-content>