<ion-header>
    <ion-img class="img-volver" (click)="volver() " src="./assets/atras.png "></ion-img>
    Servicio Iniciado
</ion-header>
<ion-content>
    <ion-list>
        <ion-item style="cursor: pointer;" *ngFor="let item of servicio">
            <div>
                <span>
                    Nombre
                </span>
                <span>
                    {{item.servicio_pasajero_nombre}}
                </span>
                <br>
                <span>
                    Dirección
                </span>
                <span>
                    {{item.servicio_destino}}
                </span>
                <br>
                <ion-img style="float: left;" class="inicio" src="./assets/telefono.png" (click)="llamar(item.servicio_pasajero_celular)"></ion-img>
                <ion-img style="float: left;" class="inicio" src="./assets/navegar.png" (click)="navegar(item.servicio_destino)"></ion-img>
                <ion-img style="float: left;" class="inicio" src="./assets/confirmar.png"></ion-img>
                <ion-img style="float: left;" class="inicio" src="./assets/cerrar.png"></ion-img>
            </div>
        </ion-item>

    </ion-list>
</ion-content>