<ion-header>
    <ion-img class="img-volver" (click)="volver() " src="./assets/atras.png "></ion-img>
    Servicio Iniciado
</ion-header>
<ion-content>
    <ion-list>
        <ion-item style="cursor: pointer;" *ngFor="let item of servicio; index as i">
            <div>
                <span>
                    Nombre
                </span>
                <span>
                    {{item.servicio_pasajero_nombre}}
                </span>
                <br>
                <span>
                    Dirección
                </span>
                <span>
                    {{item.servicio_destino}}
                </span>
                <br>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-img style="float: left;" *ngIf="i > 0" class="inicio" src="./assets/telefono.png" (click)="llamar(item.servicio_pasajero_celular)"></ion-img>
                        </ion-col>
                        <ion-col>
                            <ion-img style="float: left;" *ngIf="i === 0" class="inicio" src="./assets/navegar.png" (click)="navegar(item.servicio_destino)"></ion-img>
                        </ion-col>
                        <ion-col>
                            <ion-img style="float: left;" *ngIf="i === 0" class="inicio" src="./assets/confirmar.png" (click)="confirmar(item.servicio_pasajero_id)"></ion-img>
                        </ion-col>
                        <ion-col>
                            <ion-img style="float: left;" class="inicio" src="./assets/cerrar.png" (click)="cancelar(item.servicio_pasajero_id)"></ion-img>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </ion-item>

    </ion-list>
</ion-content>