<ion-header>
    <ion-img class="img-volver" (click)="volver() " src="./assets/atras.png "></ion-img>
    Servicio Iniciado</ion-header>
<ion-content>
    <ion-list>
        <ion-item style="cursor: pointer;" *ngFor="let item of []">
            <div>
                <ion-img class="inicio" src="./assets/arriba.png"></ion-img>
            </div>
            <div>
                <span class="id"> {{item.servicio_id}}</span>
            </div>
            <div>
                <div><span class="id">{{item.servicio_cliente}}</span></div>
                <div class="fecha">{{item.servicio_fecha}} {{item.servicio_hora}}</div>
            </div>
        </ion-item>

    </ion-list>
</ion-content>