<ion-header>
    <ion-img class="img-volver" (click)="volver() " src="./assets/atras.png "></ion-img>
    Detalle Servicio
</ion-header>
<ion-content *ngFor="let item of programadoDetalle">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="negrita">ID</div>
            </ion-col>
            <ion-col>
                <div id="id">{{item.servicio_id}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="negrita">Cliente</div>
            </ion-col>
            <ion-col>
                <div id="cliente">{{item.servicio_cliente}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="negrita">Fecha</div>
            </ion-col>
            <ion-col>
                <div #fecha>{{item.servicio_fecha}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="negrita">Hora</div>
            </ion-col>
            <ion-col>
                <div #hora>{{item.servicio_hora}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="negrita">Ruta</div>
            </ion-col>
            <ion-col>
                <div id="ruta">{{item.servicio_ruta}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="negrita">Tipo Ruta</div>
            </ion-col>
            <ion-col>
                <div id="tipoRuta">{{item.servicio_truta}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="negrita">Tarifa</div>
            </ion-col>
            <ion-col>
                <div id="tarifa">{{item.servicio_tarifa}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="negrita">Pasajeros</div>
            </ion-col>
            <ion-col>
                <div id="pasajeros">{{cantidad}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="negrita">Observaciones</div>
            </ion-col>
            <ion-col>
                <div id="observaciones">{{item.servicio_observacion}}</div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-item style="cursor: pointer;" *ngFor="let item of pasajeros">
            <div class=" cont_info ">
                {{item.pasajero_nombre}}
                <br> {{item.pasajero_destino}}
            </div>
            <div>
                <ion-img class="inicio " src="./assets/telefono.png " (click)="llamar(item.pasajero_celular)"></ion-img>
            </div>
        </ion-item>
    </ion-list>
    <div class="contenedor_boton" *ngIf="estado == 1 || estado == 3">
        <ion-img class="img-boton " (click)="aceptarServicio() " src="./assets/okverde.png "></ion-img>
    </div>
    <div class="contenedor_boton" *ngIf="estado == 1 || estado == 3">
        <ion-img class="img-boton " (click)="cancelarServicio() " src="./assets/cerrar.png "></ion-img>
    </div>
    <div class="contenedor_boton continuar" *ngIf="estado == 4">
        <ion-img class="img-boton " (click)="aceptarServicio() " src="./assets/okazul.png "></ion-img>
    </div>
</ion-content>