<ion-header>
    Detalle Servicio
</ion-header>
<ion-content *ngFor="let item of programadoDetalle">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>ID</div>
            </ion-col>
            <ion-col>
                <div id="id">{{item.servicio_id}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Cliente</div>
            </ion-col>
            <ion-col>
                <div id="cliente"></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Fecha</div>
            </ion-col>
            <ion-col>
                <div id="fecha"></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Hora</div>
            </ion-col>
            <ion-col>
                <div id="hora"></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Ruta</div>
            </ion-col>
            <ion-col>
                <div id="ruta"></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Tipo Ruta</div>
            </ion-col>
            <ion-col>
                <div id="tipoRuta"></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Tarifa</div>
            </ion-col>
            <ion-col>
                <div id="tarifa"></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Pasajeros</div>
            </ion-col>
            <ion-col>
                <div id="pasajeros"></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Observaciones</div>
            </ion-col>
            <ion-col>
                <div id="observaciones"></div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>