/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
ion-footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding-right: 0%;
}

.img-volver {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

ion-header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: right;
    background-color: #253ca1;
    color: white;
    font-size: 20px;
    padding-right: 33%;
}

.img-central {
    margin: 40px auto;
    width: 60px;
    height: 60px;
}

ion-toolbar {
    background-color: #253ca1 !important;
}