.img-produccion {
    width: 60px;
    height: 60px;
    margin-left: 30%;
}

.contenedor-imagen {
    width: 50%;
    float: left;
}

.total {
    font-size: 60px;
}

.id {
    font-size: 25px;
}

.fecha {
    font-size: 15px;
}

.tarifa {
    margin-left: 40px;
    font-size: 35px;
}

ion-list {
    margin-top: 100px !important;
}